.App {
  display: flex;
  // min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Open Sans, Arial, sans-serif
}

html, body, .App {
  height: 100vh;
  // Next line code will remove bouncy effect on desktop
  overscroll-behavior: none;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

footer {
  flex: 0 1 auto;
}